

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="height: 100px;" size="1"></ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>

      <ion-col size="8">
      <img src="https://cdn-icons-png.flaticon.com/512/190/190411.png" alt="">

      </ion-col>

      <ion-col size="2"></ion-col>

    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <h1>¡Gracias por tu compra!</h1>
        <h4>Tu pedido se está haciendo...</h4>
        <a routerLink="/home">Volver</a>
      </ion-col>
      <ion-col size="1"></ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
